/**
 * CSS per la pagina degli autori
 * @author Davide De Acetis
 */
.info {
    padding-left: 2rem;
}

.labels {
    display: inline;
    float: left;
}

.label-info {
    display: inline;
    font-size: 1rem;
    font-weight: bold;
    color: black;
    float: left;
}

.testi {
    display: inline;

}

.testo-info {
    font-size: 1rem;
    color: black;
    margin-left: 1.5rem;
}

@media (max-width: 991px) {
    .info {
        padding-left: 0;
    }
}