.tab-bar {
    padding-left: 3rem;
}

.tab-btn {
    border-radius: 5px 5px 0 0;
    border-bottom: none;
    margin-right: 1rem;
    width: 8rem;
    font-weight: bold;
}

.tab-line {
    border: 1px solid #343a40;
    width: 100%;
    margin-bottom: 2rem;
}