# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/



# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

target

# IntelliJ project files
.idea/
*.iml

# Eclipse
.project
.classpath
.settings


# Log file
*.log

# BlueJ files
*.ctxt

# Package Files #
*.jar
*.war
*.ear
*.nar
*.zip
*.tar.gz
*.rar

